.silverstripe__elementalbannerblock__block__bannerblock {
  margin-bottom: 1em;
  position: relative;

  img {
    width: 100%;
    max-width: 100%;
  }

  .banner-element__content {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.dnadesign__elementaluserforms__model__elementform {
  @extend .pb-4;

  .form-element__form {
    padding: 1rem;
  }

  .field {
    margin-bottom: 1em;
  }

  input[type=text], input[type=email], textarea {
    @extend .form-control;
  }
}

.content-element__row {
  @extend .row;
}

.content-element__column {
  @extend .col;

  &.half {
    @extend .col-12;
    @extend .col-md-6;
    @extend .py-4;
    @extend .py-md-0;
  }
  &.third {
    @extend .col-12;
    @extend .col-md-4;
    @extend .py-4;
    @extend .py-md-0;
  }
  &.quarter {
    @extend .col-12;
    @extend .col-md-3;
    @extend .py-4;
    @extend .py-md-0;
  }
  &.sixth {
    @extend .col-12;
    @extend .col-md-2;
    @extend .py-4;
    @extend .py-md-0;
  }
}

.content-image {
  @extend .img-fluid;
}