/*
Contains the essential layout styles for the site
 */
@import "variables";
@import "../bootstrap-4.1.3/scss/bootstrap-grid";

header {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.element-constrained {
  @extend .container;
}
.element-padded {
  padding-top: $elementPadding;
  padding-bottom: $elementPadding;
}
